{% extends 'templates_advanced/shared/base.html' %}

{% block content %}
    {% if heading_text %}
        <h1>{{ heading_text }}</h1>
    {% endif %}
    {% for pet in pets %}
        <li>{{ pet.name }}</li>
    {% endfor %}

    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Prev</a>
        {% else %}
            <a disabled="disabled">Prev</a>
    {% endif %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        {% else %}
            <a disabled="disabled">Next</a>
    {% endif %}

{#    {% for pet in object_list %}#}
{#        <li>{{ pet.name }}</li>#}
{#    {% endfor %}#}
{% endblock %}