{% extends 'templates_advanced/shared/base.html' %}
{% load bootstrap_form %}
{% load static %}

{% block content %}
    <h1 class="text-center">Register</h1>
{#        <div class="row d-flex justify-content-center">#}
            <form method="POST" action="{% url 'register user' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{form}}
            {{ second_form }}
            <button class="btn btn-primary">Register</button>
            <p>or </p><a href="{% url 'login user' %}">Login</a>
        </form>
{#        </div>#}
{% endblock %}